<!DOCTYPE html>
<html>
  <head>
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Tales From Everywhere</title>
        <link
          rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
          crossorigin="anonymous"
        />
        <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"
        />
        <link
          href="{{ url_for('static', filename='css/style.css') }}"
          rel="stylesheet"
          type="text/css"
        />
        <link
          href="{{ url_for('static', filename='img/headerpic.jpg') }}"
          rel="shortcut icon"
          type="image/png"
        />
        <link
          href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet"
        />
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        />
      </head>

      <body>
        <!--Navbar-->
        <nav>
          <div class="nav-wrapper">
            <a href="{{ url_for('index') }}" class="brand-logo"><i class="fas fa-signature"> byEveryone</i></a>
          </div>
        </nav>

        <!--Header-->
      <header class="header-img" id="header-img" style="background-image: url('{{ url_for('static', filename='img/books2.jpg') }}')">
      <div class="container d-flex align-items-center flex-column text-white text-center">

      <!-- Title -->
      <h1 class="title-home">Tales from Everywhere</h1>
      <p class="sub-title">Here you can be a Storyteller</p>
      </div>
      </header>
 
       <div class= "container-fluid">
        
          {% block content %} {% endblock %}
            
       </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript">
		    $(document).ready(function(){
		        $('.collapsible').collapsible();
		        $('select').formSelect();
		    });
	    </script>
      </body>
    </html>

</html>
