{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <div class="center">
                        <h2>{{page_title}} {{ tales.tale_name }}</h2>
                        <p>This tale will be deleted permanently{{ tales.tale_name }}.</p>
                        <p>Are you sure about it?</p>
                    </div>
                    <form action="{{url_for('delete_tale', tale_name=tales._id)}}" method='POST' class="center">
                        <div class="row">
                            <div class="input-field col s12">
                                <!--Go Back-->
                                <a href="{{ url_for('tale', tale_name=tales._id)}}"> <button class="btn waves-effect waves-light btn-large green" type="button" name="url" id="goBack"><b>Go back</b></button></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <!--Submit-->
                                <button class="btn waves-effect waves-light btn-large red" type="submit" name="action" id="deleteTaleButton"><b>Delete Tale</b></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}