{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="edit-details col-12">
			<br>
			<!--Tale Name-->
			<div class="col-12">
				<h3>{{tales.tale_name}}</h3>
				<p class="form-edit">Fill out the form below to edit a tale from the database.</p>
				<form name ="edit_tales" method="POST" action="{{ url_for('update_tale', tale_name=tales._id) }}">
					<br>
                     </div>
					<!--Name-->
					<div class="row">
						<div class="col-sm-12 col-md-6">
							<div class="input-field ">
								<i class="fas fa-book-open"> Tale Name:</i>
								<textarea name="tale_name" id="tale_name" class="materialize-textarea">{{ tales.tale_name }}</textarea>
							</div>
						</div>
					</div>
					<br>

					<!--Continent-->

					<div class="row">
						<div class="col-12">
							<div class="row">
								<div class="input-field col-6">
									<select id="continent_name" name="continent_name">
																									      <option value="" disabled selected> Choose your continent:</option>
																									      {% for tales in continents %}
																									        <option value="{{tales.continent_name}}">{{tales.continent_name}}</option>
												                                                              {% endfor %}
																									    </select>
									<label>Continent:</label>
								</div>

								<br>
								<div class="input-field col-6 ">
									<i class="fas fa-map-marker-alt"> Country: </i>
									<textarea name="country_name" id="country_name" class="materialize-textarea">{{ tales.country_name }}</textarea>
								</div>
							</div>
						</div>
					</div>
					<br>
					<!--Author-->
					<div class="row">
						<div class="col-12">
							<div class="row">
								<div class="input-field col-6">
									<i class="fas fa-user"> Author: </i>
									<textarea name="author" id="author" class="materialize-textarea">{{ tales.author }}</textarea>
								</div>
								<div class="input-field col-6">
									<i class="far fa-image"> URL img:</i>
									<textarea name="img_url" id="img_url" class="materialize-textarea">{{ tales.img_url }}</textarea>
								</div>

							</div>
						</div>
					</div>
			</div>
		</div>
		<br>

		<!--Descr-->

		<div class="row">
			<div class="col-12">
				<div class="input-field" id="input-field">
					<i class="fas fa-edit"> Story:</i>
					<textarea name="tale_desc" id="tale_desc" class="materialize-textarea">{{ tales.tale_desc }}</textarea>
				</div>
			</div>
		</div>
		<br>
		<br>
		<div class="row">
			<div class="input-field col-6">
				<!--Go Back-->
				<a
					href="{{ url_for('index') }}"><button class="btn waves-effect waves-light btn-large" type="button" name="action" id="goBack"><b>Go back</b></button></a>
				<!--Submit-->
				<button class="btn waves-effect waves-light btn-large green" type="submit" name="action" id="editTaleButton">Submit</button>
			</div>
		</div>

		</form>
	</div>

	<div class="col-xm-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
	</div>

</div>
</div>
</div>
</div>

{% endblock %}
