{% extends 'base.html'%} {% block content %}
   
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 center">
         <div class="col-12 tale-image-container d-flex align-items-center justify-content-center">
            <img class="one-tale-img" src="{{ tales.img_url }}">
         </div>
        <div class="tale-title col-12">
         <h3>{{ tales.tale_name}}</h3>
        </div>
        
        <div class="detail-tale col-3">
          <i class="fas fa-globe"> Continent: </i><p class="continent_name">{{ tales.continent_name}}</p>
          <i class="fas fa-map-marker-alt"> Country: </i><p class="country">{{ tales.country_name}}</p>
          <i class="fas fa-user"> Author: </i><p class="author">{{ tales.author}} </p>
        </div>

        <div class="col-12">
        <p class="tale-desc">{{tales.tale_desc}}</p>
        </div>
    </div>
       <div class="container">
           <div class="row">
           <div class= "buttons col-6">
            <a href="{{ url_for('edit_tales', tale_name=tales._id) }}" class="waves-effect waves-light btn-small">Edit Tale</a>
            <a href="{{ url_for('delete_tale', tale_name=tales._id) }}" class="waves-effect waves-light btn-small" id="delete-button">Delete Tale</a>
            <div></div>
           </div>
           </div>
       </div>
  </div> 
{% endblock %}